# Rename this file to .env once you have filled in the below environment variables!

# Get your OpenRouter API Key in your account settings -
# https://openrouter.ai/settings/keys
# You only need this environment variable set if you want to use OpenRouter models
OPEN_ROUTER_API_KEY=

# You only need this environment variable set if you want to use Ollama models
# EXAMPLE http://localhost:11434
OLLAMA_API_BASE_URL=

# Include this environment variable if you want more logging for debugging locally
VITE_LOG_LEVEL=debug
